{% extends "account/base.html" %}
{% block title %}Dislikes{% endblock %}
{% block content %}
<center>
    <br><h1> Dislikes </h1><br>
</center>
<center>
    <a href="/account/feed/my" type="button">My Feed</a>
    <a href="/account/feed/all" type="button">All Feed</a>
    <a href="/account/profile/{{photo.user_profile.id}}" type="button">Profile</a>
</center><br>
{% for dislike in dislikes %}
<br>
<div class="card">
    <center>
        <h1><a href="/account/profile/{{dislike.user_profile.id}}">{{dislike.user_profile.username}}</a></h1>
    </center>
</div>
{% endfor %}
{% endblock %}